<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="shard.Properties.Settings.BankConnectionString" connectionString="Data Source=.\sqlexpress;Initial Catalog=Bank;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>